<ion-menu id="myMenu" [content]="content" >
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
      <!-- <ion-title>Menudd {{active}}</ion-title> -->
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <!-- {{active}} -->
      <button menuClose ion-item  *ngFor="let p of pages" (click)="openPage(p)">
        <span *ngIf="active == true">{{p.title}}</span>
      </button>
      <button ion-item  (click)="terminalModeFunc()">
        {{mode}}
      </button>
      <button ion-item *ngIf="active == true" (click)="settingFunc()">
        Setting
      </button>
      <button ion-item *ngIf="active == true" (click)="logoutApp()">
        Log Out
      </button>

    </ion-list>
  </ion-content>



</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
