#rcorners2 {
  border-radius: 25px;
  border: 5px solid #3b95ca;
  padding: 0px;
  // width: 300px;
  // height: 138px;
  // margin: 4rem 6rem;

}

  #map {
    height: 100%;
  }


.statusBreak{
	margin: -55px -163px 13px 0;
	font-size: 1.5rem;
	color: blueviolet;
}
.statusIn{
	margin:	-54px -70px 13px 0;
	font-size: 1.5rem;
  padding-left: 73px;
	color: blue;
}
.setDiv
{
	  height: 100%;
    display: block;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    padding-left: 0px;
    padding-top: 43px;
    font-size: xx-large;
}
.img{
    height:3.8cm;
	  padding-top:80px;
	  padding-right: 4px;
    max-width: 13%;
}
.setSpan{
    display: inline;
    min-width: 3.2cm;
    height: 3.8cm;
    align-items: center;
    padding-left:0px !important;
    vertical-align: -webkit-baseline-middle;
}
.setStyle{
    text-transform: capitalize;
    display: inline-block;
    vertical-align: bottom;
    inline-size: initial;
    text-underline-position: inherit;
    margin-top: 9.6rem;
    margin-bottom: 4rem;
    margin-left: 48px;
    font-weight: inherit;
    line-height: 1.2;
}
.inBtn{
  width: 45px;
  margin-right: 41px;
}
.outBtn{
  width: 45px;
      margin-right: -14px;
      margin-left: 78px;
    }
.endBtn{
  width: 111px;
  margin-left: 16px;
  margin-right: 24px;

}

.stratBtn{
  width: 112px;
  margin-right: 32px;
  margin-left: -38px;
}
.currentStatus{
	  margin: -35px 84px -57px 15px;
    color: #343434;
    padding-left: 66px;
    height: 25px;
    font-size: 1.5rem;
    margin-bottom: 3rem;
		font-style: oblique;

  /*  padding: 0.2em 0.6em 0.3em;
    border-radius: 0;*/
}
.status{
margin:	-53px -132px 13px 0;
font-size: 1.5rem;

}
.cancleBtn{
  width: 198px;
    margin-top: 22px;
    margin-left: 56px;

}
