<ion-header>
  <ion-toolbar color="primary">
    <button ion-button menuToggle >
    <ion-icon name="menu" ></ion-icon>
  </button>
  <ion-title>Terminal Mode</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="home" padding>

  <ion-list>
    <div *ngFor="let employee of employeeList">

    <ion-item  *ngIf="employee.displayData != false">
      <h2  style="text-transform: capitalize;">{{employee.firstName}} {{employee.lastName}}

        <span style="float: right;" >
          <button ion-button  *ngIf="employee.status == 'O' ||employee.status == 'OUT'||employee.status == 'Out'" color="danger" (click)='inOutFunc(employee);'> OUT </button>
          <button ion-button  *ngIf="employee.status == 'I'||employee.status == 'In'||employee.status == 'IN'" color="success" (click)='inOutFunc(employee);'> IN </button>
          <button ion-button class="breakBtn"  *ngIf="employee.status == 'Break'||employee.status == 3 "  (click)='inOutFunc(employee);'> BREAK </button>
        </span>
      </h2>
    </ion-item>
    </div>
  </ion-list>

</ion-content>
